.user-info__card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  border-radius: 18px;
}

.user-info__avatar {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 160px;
  background: rgb(48,29,111);
  background: linear-gradient(180deg, rgba(48,29,111,1) 0%, rgba(47,196,202,1) 99%, rgba(47,196,202,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info__details {
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}

.user-info__details-item {
  display: grid;
  gap: 15px;
  grid-template-columns: 90px auto;
  grid-template-rows: auto;
  grid-template-areas: "name value";
}

.user-info__details-name {
  grid-area: name;
  text-align: right;
}

.user-info__details-value {
  grid-area: value;
}
