.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.2s -webkit-transform;
  transition: 0.2s -webkit-transform;
  transition: 0.2s transform;
  transition: 0.2s transform, 0.2s -webkit-transform;

  &:hover {
    z-index: 3;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.user-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.user-card__username {
  color: $footer-text-color;
  margin-top: 0;
}

.user-card__website {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-card__website-img {
  margin-right: 5px;
}
